body {
    background: url("../images/exclusive_paper.png");
    margin-top: 1rem;
  }
html, body {
    height: 100%;
    margin: 0;
  }
.wrapper {
    min-height: 100%;
    margin-bottom: -3rem;
}
header {
    margin-bottom: 1rem;
    background-color: #777777;
}
.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.navbar-light {
    background-color: #777777;
}
main {
    background-color: #ffffff;
    padding: 2rem 1rem 2rem 1rem;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
img {
    padding: 1rem;
}
p {
    padding: 1rem;
}
footer {
    margin-top: 1rem;
    text-align: center;
    background-color: #777777;
    color: #ffffff;
    border-top: 0.5rem solid #4aaaa5;
    height: 3rem;
}
.push {
    height: 3rem;
}
.btn-info {
    background-color: #4aaaa5;
}